doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Material Design Bootstrap
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css')
    link(href='assets/css/bootstrap.min.css', rel='stylesheet')
    link(href='assets/css/mdb.min.css', rel='stylesheet')
    link(href='assets/css/style.css', rel='stylesheet')
  body
    header
      nav.navbar.navbar-toggleable-md.navbar-dark.mdb-color(class='#07090A')
        .container
          button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarNav', aria-controls='navbarNav', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse
            ul.navbar-nav.mr-auto
              li.nav-item
                a.nav-link(href='/')
                  | Home 
                  span.sr-only (current)
              li.nav-item.active
                a.nav-link(href='/about') About
              li.nav-item
                a.nav-link(href='/contact') Contact
            ul.navbar-nav.nav-flex-icons
              li.nav-item
                a.nav-link
                  i.fa.fa-facebook
              li.nav-item
                a.nav-link
                  i.fa.fa-twitter
              li.nav-item
                a.nav-link
                  i.fa.fa-instagram
      .view.hm-black-strong
        .full-bg-img.flex-center
          .container
            .white-text.text-center.wow.fadeInUp
              h2 The About Page
    script(type='text/javascript', src='assets/js/jquery-3.1.1.min.js')
    script(type='text/javascript', src='assets/js/tether.min.js')
    script(type='text/javascript', src='assets/js/bootstrap.min.js')
    script(type='text/javascript', src='assets/js/mdb.min.js')
